.item-card {
    max-height: 20%;
    width: 200px;
    background-color: lightslategray;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
}


.item-id {
    margin-left: 10px;
    margin-top: 10px;
}

.item-title {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: white;

}

.item-price {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-align: center;
}

.item-pic {
    display: block;
    margin: auto;
    max-width:90%;
    max-height: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
