

.item-detail-box {
    display: grid;
    font-family: 'Kanit', sans-serif;
    background-color: #778899;
    height: 300px;
    width: 50%;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.column-1 {
    grid-column: 1;
    display: flex;
    text-align: center;
}

.column-2 {
    grid-column: 2;
    margin-left: 30px;
    margin-right: 10px;
 
}

.detail-img {
    display: block;
    margin: auto;
    max-width:100%;
    max-height: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;  
}


.item-count-container {
    width: 200px;
}

.title {
    font-size: 26px;

}
.description {
    font-size: 17px;
    color: white;

}
.price {
    font-size: 20px;

}