.card {
    display: flex;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
    background-color: lightslategray;
    width: 100%;
    border-radius: 10px;
}
.counter-numbers {
    font-size: 20px;
    font-weight: bold;

}

button {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}


