.card {
    display: flex;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
    background-color: lightslategray;
    width: 100%;
    border-radius: 10px;
}
.counter-numbers {
    font-size: 20px;
    font-weight: bold;

}

.normal-button {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.cart-button {
    font-size: 16px;
    align-content: center;
    width: 100px;
    font-family: 'Kanit', sans-serif;
}

.cart-button-2 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: auto;
    width: 170px;
    
}

.cart-button-3 {
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    font-size: auto;
    width: 150px;
    margin-left: 10px;
    
}