
.navbar-container {
    height: 6em;
    background-color: black;
    overflow: hidden;
    display: flex;
}

.navbar-button-container {
    overflow: hidden;
    display: flex;
    height: 6em;
    width: 98vw;
} 

.navbar-logo {
    font-size: 30px;
    color: white;
    float: left;
    text-align: center;
    align-self: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

.navbar-button {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-self: flex-end;
    font-family: 'Kanit', sans-serif;
}

/* botton de carrito */

.cartwidgetbutton {
    float: right;
   align-self: center;
   margin-left: auto;    
}