
.navbar-container {
    height: 6em;
    background-color: black;
    overflow: hidden;
    display: flex;
}

.navbar-button-container {
    overflow: hidden;
    display: flex;
    height: 6em;
    width: 98vw;
} 

.link {
    color: inherit;
    text-decoration: inherit;
}

.navbar-logo {
    font-size: 30px;
    color: white;
    float: left;
    text-align: center;
    align-self: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

.navbar-button {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-self: flex-end;
    font-family: 'Kanit', sans-serif;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    font-family: 'Kanit', sans-serif;
    padding: 16px;
    float: left;
    font-size: 17px;
    border: none;
    width: auto;
    text-align: center;
    align-self: center;
    padding: 14px 16px;
    margin-bottom: 0px;
    margin-top: 26px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 123px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-self: center;
    margin-top: 0px;
    overflow: visible;
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Kanit', sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: black;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
      float: auto;

}
  
/* botton de carrito */

.cartwidgetbutton {
    float: right;
   align-self: center;
   margin-left: auto;    
}


